﻿.ChangePassword {
 width: 350px;
    height: 240px;
    overflow: hidden;
    background: #1e1e1e;
    border-radius: 6px;
    margin: 170px auto;
    box-shadow: 0px 0px 50px rgba(0,0,0,.8);
}
.form_title {
     width: 348px;
    height: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    text-align: center;
    color: #bfbfbf;
    font-weight: bold;
    background: #121212;
    border: #2d2d2d solid 1px;
    margin-bottom: 30px;
    border-top-right-radius: 6px;
    border-top-left-radius:6px;
    font-family:Arial;
}
.Change_password
{
    width: 200px;
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    border: none;
    color: #bfbfbf;
    background: #141414;
    outline: none;
    margin: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top: #0b0b0b solid 1px;
}
