﻿.Login {
 width: 350px;
    height: 240px;
    overflow: hidden;
    background: #1e1e1e;
    border-radius: 6px;
    margin: 100px auto;
    box-shadow: 0px 0px 50px rgba(0,0,0,.8);
}

.form_title {
     width: 348px;
    height: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    text-align: center;
    color: #bfbfbf;
    font-weight: bold;
    background: #121212;
    border: #2d2d2d solid 1px;
    margin-bottom: 30px;
    border-top-right-radius: 6px;
    border-top-left-radius:6px;
    font-family:Arial;
}
.form{
  width: 240px;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.Login_name,.Login_password{
     width: 200px;
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    border: none;
    color: #bfbfbf;
    background: #141414;
    outline: none;
    margin: 0;

}

.Login_name{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top: #0b0b0b solid 1px;
    background: #141414 url(../Picture/user-48x48.png) no-repeat;
}

.Login_password{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: #0b0b0b 1px solid;
    border-bottom: #353535 1px solid;
    background: #141414 url(../Picture/icon.png) no-repeat;
}
.Reset,.Submit{
    background:#00ffff;
    color:#fff;
    font-size:22px;
    font-family:Calibri;
     padding-top: 3px;
    padding-bottom: 3px;
    padding-left:12px;
    padding-right:12px;
    margin-top:20px;
    margin-bottom:6px;
    margin-left:30px;
    border-bottom:3px solid #925b08;
    border:none;
    border-radius:5px;
}
.Reset:hover{
    background:#925b08;
    border-bottom:3px solid #f90;
}
.Submit:hover{
    background:#925b08;
    border-bottom:3px solid #f90;
}
.Reset,.Submit:focus{
    outline:none;
}