﻿div.menu {
    padding: 0px;
    margin: 0px;
    background:#353535;
    width:100%;
    
}

    div.menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: auto;
        position: relative;
        display: block;
        font-size: 12px;
        font-weight:bold;
        background: #353535;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #353535;  
        zoom: 1;
    }

        div.menu ul:before {
            content: '';
            display: block;
        }

        div.menu ul:after {
            content: '';
            display: table;
            clear: both;
        }

        div.menu ul li{
            display: block;
            float: left;
            margin: 0;
            padding: 0 4px;
        }

        div.menu ul li a, div.menu ul li a:visited {
            display: block;
            float: left;
            color: #999999;
            text-decoration: none;
            font-weight: bold;
            padding: 10px 20px 7px 20px;
            border-bottom: 3px solid transparent;
        }

            div.menu ul li a:hover {
                background-color: #bfcbd6;
                color: #465c71;
                font-weight: bold;
                text-decoration: none;
            }

            div.menu ul li a:hover {
                color: #FFFFFF;
                border-bottom: 3px solid #00b8fd;
            }

            div.menu ul li a:active {
                display: inline;
                border-bottom: 3px solid #00b8fd;
                float: left;
                margin: 0;
            }
